<% title "Protected Structures" %>
	<%= render "blurb" %>

<div class="row">
	<hr />
</div>
<div id="intro" class="row hide-on-phones">
	<p>Use the map to navigate to a place near you or simply search for a location.</p>
</div>
<div id="intro" class="row show-on-phones">
	<p>Search for protected structures near you.</p>
</div>
<!--<div class="row">
	<p>The list containing all the structures that are protected within Fingal is known as the Record of Protected Structures, or RPS for short.  Prior to an Act in 1999 these buildings or features were known as Listed Buildings, but this title no longer applies.</p>

	<p>The protection, unless otherwise stated in the RPS, includes the exterior and interior of the structure, the land lying within its curtilage (boundary), any other structures and their interiors within the curtilage, plus all fixtures and fittings which form part of the interior or exterior of any of these structures.</p>
	
</div>-->

<div class="row">
	<div class="eight columns hide-on-phones">
	<div id="map_controls">
		<%= link_to "Archaeology Only ", protected_structures_path(:type => "arche"), :class => "small black button radius" %> 
		<%= link_to "Architecture Only ", protected_structures_path(:type => "archi"), :class => "small green button radius" %>
		<%= link_to "Fingal Only", protected_structures_path(:type => "other"), :class => "small green button orange radius" %> 
		<%= link_to "Show All", protected_structures_path, :class => "small red button radius" %>
	</div>
		<%= gmaps(:markers     => { :data => @markers, :options => {:clusterer_maxZoom => 13} },
		          :map_options => { :container_class => "maps", :id => "map_container_c", :auto_adjust => true, :mapTypeControl => true, :libraries => ["places"]}) %>
	</div>
	<div class="four columns">
		<%= render 'search'%>
		<ul id="list">
		<% for ps in @protected_structures %>
		<li>
		<span>
			<div class="structure_name"><%= link_to "##{ps.rps_number} - #{ps.description}", ps, :title => "Detailed information" %></div>
			<em><b><%= ps.townland %></b> <%= ps.street_address %></em><br />
			<% unless ps.niah_ref.nil? %>
				<%= link_to ps.niah_ref, protected_structure_path(ps, :anchor =>"nice2"), :title => "NIAH Iventory Number", :class =>"small green button radius" %>
			<% end %>
			<% unless ps.rmp_ref.nil? %>
			<%= link_to ps.rmp_ref, protected_structure_path(ps, :anchor =>"nice3"), :title => "RPM Number Number", :class =>"small black button radius" %>
			<% end %>
		</span>
		<hr/>
		</li>
	<% end %>	
		</ul>
	
	</div>
</div>
<%= render "shared/autocomp" %>