<% title "RPS ##{@protected_structure.rps_number} Details" %>
<% content_for :breadcrumbs do %>
<%= link_to "Home", root_url %> &#62; <%= link_to "RPS ##{@protected_structure.rps_number} Details" %>
<% end %>
<div class="row">
	<div class="six columns">
		<h3><strong>RPS#</strong> <%= @protected_structure.rps_number %></h3>
		<dl class="nice contained mobile tabs">
		  <dd><a href="#nice1" class="active">RPS</a></dd>
		  <dd><a href="#nice2">Architecture Record</a></dd>
		  <dd><a href="#nice3">Archaeology Record</a></dd>
		</dl>

		<ul class="nice tabs-content mobile contained">
		  <li class="active" id="nice1Tab">
		  	<p>
				<span style="font-size:1.5em;">Name</span><br />
				<%= @protected_structure.structure_name %>
			</p>
			<p><span style="font-size:1.5em;">Description</span><br /><%= @protected_structure.description %></p>
			<p><span style="font-size:1.5em;">Address</span><br />
				<em><%= @protected_structure.street_number %> 
				<%= raw(@protected_structure.street_address.to_s.gsub(',',',<br/>')) %><br />
				<b><%= @protected_structure.townland %></b></em>
			</p>
			<p><span style="font-size:1.5em;">Coordinates</span><br /><%= @protected_structure.longitude %>, <%= @protected_structure.latitude %></p>
		  </li>
		  <li id="nice2Tab">
		  	<% unless @protected_structure.niah_ref.nil? %>
				<div>
					<span style="font-size:1.5em;">Architectural</span><br />
					<p>This structure is part of the National Inventory of Architectural Heritage. You can find extra information on the building on buildingsofireland.ie or by clicking the green National Inventory of Architectural heritage reference number below.
						<!--This building is part of the National Inventory of Architectural Heritage. The National Inventory of Architectural heritage reference number, you find extra information on the building on buildingsofireland.ie or by clicking the green number below.--></p>
					<%= link_to @protected_structure.niah_ref, "http://www.buildingsofireland.ie/niah/search.jsp?type=record&county=FI&regno=#{@protected_structure.niah_ref}", :class => "large green button radius", :title =>"Click to View NIAH full Record" %>
					<%= render "niah"%>
					
				</div>
			<% else %>
				<div class="alert-box error">Unfortunately it appears that this structure is not listed as part of the National Inventory of Architectural Heritage.</div>
			<% end %>
		  </li>
		  <li id="nice3Tab">
		  	<% unless @protected_structure.rmp_ref.nil? %>
			<div><span style="font-size:1.5em;">Archaeology</span><br />
				<p>This structure is part of the Record of National Monuments and Places. The black box below is this structure's reference number in the Record of National Monuments and Places, 
				and further details of this site can be found on 
				<%= link_to "archaeology.ie","http://archaeology.ie" %>. Unfortunately their website is not working fully and only the map viewer is available at this time.</p>
				<p><%= link_to "archaeology.ie","http://archaeology.ie" %> will provide a comprehensive description of the site and structure, including details of known excavation work carried out to date.</p> 
			<%= link_to @protected_structure.rmp_ref, "#", 
			:class => "large black button radius disabled", :title =>"The RMP Website is currently unvailable" %>
			</div>
			<% else %>
				<div class="alert-box error">Unfortunately it appears that this structure is not listed as part of the Record of Protected Monuments.</div>
			<% end %>
			
		  </li>
		</ul>
		
		<div>
			<span style="font-size:1.5em;">I want to find out more</span><br />
			<p>There are a number of resources which will enable you to find out more about this structure including your <%= link_to "local library", "http://www.fingalcoco.ie/CommunityRecreationandAmenitiesDepartment/Library/LibraryBranches/" %>, the <%= link_to "Fingal Archives", "http://www.fingalcoco.ie/library/fingalarchives/" %>, the <%= link_to "National Museum", "http://www.museum.ie/" %>, the <%= link_to "National Library", "http://www.nli.ie/" %> and the <%= link_to "Trinity Map Library", "http://www.tcd.ie/Library/map-library/" %>, to name a few.</p>
			<p>A new section will be added shortly to this website which will give more comprehensive list of other information sources including short summaries of what sort of information you are likely to be able to find through these sources.</p>
			<p><%= link_to "See what else is Close-By", "#near" %></p>
		</div>
	</div>
	
	<div class="six columns">
		<div class="row">
		<p><% if @protected_structure.niah_ref.nil? %>
			<div><span style="font-size:1.5em;">Google Street View Image</span></div>
			<%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=500x400&location=#{@protected_structure.latitude},%20#{@protected_structure.longitude}&fov=120&pitch=10&sensor=false" %>
		<% else %>
			<div><span style="font-size:1.5em;">NIAH Database Image of Building</span></div>
			<%= image_tag "http://www.buildingsofireland.ie/niah/images/survey_specific/fullsize/#{@protected_structure.niah_ref}_1.jpg"%><br />
			<em>Image: &copy;NIAH</em>
		<% end %></p>
		</div>
		
		<div class="row">
			<p><div><span style="font-size:1.5em;">Other Protected Structures within 3km</span></div>
			<%= gmaps(:markers     => { :data => @json },
			:map_options => { :container_class => "maps", :id => "map_container_s", :auto_adjust => false, :mapTypeControl => true, :height =>"400px", :center_latitude => @center.latitude, :center_longitude => @center.longitude, :zoom => 13  },
			:last_map    => true) %></p>
		</div>
	</div>

</div>
<div class="row">
	<h3 id="near">Close-By Structures</h3>
	<ul class="block-grid mobile four-up">
		<% for ps in @protected_structure.nearbys(5).limit(4) %>
		<li>
			<div class="bubble">
				<div class="field">RPS NUMBER</div>
				<div class="number"><%= ps.rps_number %></div>
				<div class="field">DISTANCE</div>
				<div class="distance"><%= (ps.distance).to_f.round(1) %>km</div>
			</div>
			<p><div class="structure_name"><%= link_to "#{ps.description}", ps, :title => "Detailed information" %></div>
			<em><%= ps.townland %></em></p>
		</li>
		<% end %>
	</ul>
</div>