<!DOCTYPE html>
<html>
<head>
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="twelve columns">
				<%# content_tag :h1, yield(:title) if show_title? %><h2><%= link_to "MeterMe - Dublin (beta)", meters_url %> | <%= link_to "RPS Fingal", protected_structures_url %></h2>
				<div class="alert-box">Currently data is only available for the Dublin City Council Area at present.</div>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :class => "alert-box #{name}" %>
			<% end %>
			</div>
		</div>    


		<div class="row">		
			<%= yield %>
		</div>
		<div class="row">		
			<hr />
		</div>
		<footer class="row">
			<div class="five columns">
				<p>@ 2011 Colin Broderick - Parking DATA courtesy of <%= link_to "Dublin City Council", "http://www.dublincity.ie" %> and available at <%= link_to "DubLinked", "http://www.dublinked.ie" %></p>
			</div>
			<div class="three columns">
				<p>Meter Me is an entry in the Apps4Fingal Open Data competition. Please vote for the app at <%= link_to "data.fingal.ie", "http://data.fingal.ie" %></p>
			</div>
			<div class="four columns">
				<p>If you have any issues using the site or have any feedback we would love to hear from you! Email us at <b>colinb@dt106ers.com</b> or simply tweet <b><%= link_to "@Rusty1052", "http://twitter.com/rusty1052" %></b></p>
			</div>
		</footer>

	</div>

	<%= yield (:scripts) %> 
</body>
</html>
